<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated formValidation -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="formValidation.presentation.FormValidationModelWizardID"
            name="%_UI_FormValidationModelWizard_label"
            class="formValidation.presentation.FormValidationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FormValidationModelFile.gif">
         <description>%_UI_FormValidationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated formValidation -->
      <editor
            id="formValidation.presentation.FormValidationEditorID"
            name="%_UI_FormValidationEditor_label"
            icon="icons/full/obj16/FormValidationModelFile.gif"
            extensions="formvalidation"
            class="formValidation.presentation.FormValidationEditor"
            contributorClass="formValidation.presentation.FormValidationActionBarContributor">
      </editor>
   </extension>

</plugin>
